<select
    id="ignt-id-{{ boneName }}"
    name="{{ boneName }}"
    class="select ignt-selectOne ignt-selectOne-v{{ boneName }}
        {{ "is-required" if boneParams.required }}
        {{ "is-readonly" if boneParams.readOnly }}
        {{ "is-invalid" if boneWasInvalid }}"
    {{'readonly' if boneParams.readOnly}}
    {{'required' if boneParams.required}}
>
{%- for key, descr in boneParams["values"] %}
    {% if loop.first %}
        <option value="" {{ "selected" if not boneValue }} {{ "disabled" if boneParams.required}} hidden>
            -
        </option>
    {% endif %}

    <option value="{{ key }}" {{ "selected" if boneValue == key }}>
        {{ descr }}
    </option>
{% endfor -%}
</select>