<div class="optionGroup">
    {% for key, descr in boneParams["values"].items() %}
        <div class="check">
            <input
                class="check-input"
                id="ignt-id-{{ boneName }}_{{ key }}"
                name="{{ boneName }}"
                value="{{ key }}"
                type="checkbox"
                {{ "checked" if key in boneValue }}
                {{ "readonly" if boneParams["readOnly"] }}>

            <label class="check-label" for="ignt-id-{{ boneName }}_{{ key }}">{{ descr }}</label>
        </div>
    {% endfor %}
</div>
