<input
    name="{{ boneName }}"
    type="password"
    title="{{ _(boneParams["tooltip"] or boneParams["descr"] or boneName) }}"
    class="input ignt-passwordInput ignt-passwordInput-v{{ boneName }}
        {{ ' is-required ' if boneParams.required }} {{ ' is-readonly ' if boneParams.readOnly }}"
    id="ignt-id-{{ boneName }}"
    value="{{ boneValue|default("", true) }}"
    {% if boneWasInvalid %}
        aria-invalid="true"
    {% endif %}
    {{ "required" if boneParams.required }}
    {{ "readonly" if boneParams.readOnly }}
/>
