<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$error_code - $error_name</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/resources/css/error/error.css" />
</head>

<body>
    <div id="wrapper">
        <div id="error">
            <div id="content">

                <h1>$error_code</h1>
                
                <a class="logo" href="http://www.viur.is">&nbsp;</a>

                <div class="clear">&nbsp;</div>

                <h2>$error_name</h2>

                <p>$error_descr</p>
		
		<div class="wrapper-buttons">
                    <a href="/" class="button-red shadow">Home</a>
                    <div class="clear">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</html>
