# pipenv install --dev
# pipenv requirements --hash >requirements.txt

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-auth = "~=2.0"
google-cloud-datastore = "~=2.0"
google-cloud-iam = "~=2.0"
google-cloud-logging = "~=3.0"
google-cloud-secret-manager = "~=2.0"
google-cloud-storage = "~=2.0"
google-cloud-tasks = "~=2.0"
google-resumable-media = "~=2.0"
gunicorn = "~=21.0"
jinja2 = "~=3.0"
jsonschema = "~=4.0"
pillow = "~=10.0"
pyotp = "~=2.0"
pytz = "~=2023.0"
pyyaml = "~=6.0"
requests = "~=2.0"
tzlocal = "~=5.0"
user-agents = "~=2.0"
viur-datastore = "~=1.0"
webob = "~=1.0"

[dev-packages]
build="*"
pycodestyle = "*"
twine="*"

[requires]
python_version = "3.11"

[scripts]
clean = "rm -rf dist build viur_core.egg-info"
build = "python -m build --wheel"
release = "twine upload dist/*"
develop = "twine upload --repository=testpypi dist/*"
pep8check = "bash -c \"git diff -U0 | pycodestyle --diff --show-source\""
