[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
build="*"
twine="*"

[dev-packages]
pycodestyle = "*"

[requires]
python_version = "3.8"

[scripts]
clean = "rm -rf dist build viur_core.egg-info"
build = "python -m build --wheel"
release = "twine upload dist/*"
develop = "twine upload --repository=testpypi dist/*"
pep8check = "bash -c \"git diff | pycodestyle --diff\""
