# pipenv install --dev

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
build = "*"
pycodestyle = "*"
twine = "*"

[requires]
python_version = "3.12"

[scripts]
clean = "rm -rf dist build src/viur_core.egg-info"
build = "python -m build --wheel"
release = "twine upload dist/*"
develop = "twine upload --repository=testpypi dist/*"
pep8check = "bash -c \"git diff -U0 | pycodestyle --diff --show-source\""
