[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appengine-python-standard = "~=1.0"
googleapis-common-protos = {version = "~=1.0", extras = ["grpc"]}
jinja2 = "~=3.0"
jsonschema = "~=4.0"
pillow = "~=10.0"
pyotp = "~=2.0"
pytz = "~=2023.0"
pyyaml = "~=6.0"
qrcode = "~=7.0"
requests = "~=2.0"
setuptools = "~=70.0"
tzlocal = "~=5.0"
urllib3 = "==1.26.18"  # for appengine-python-standard used by some projects (https://github.com/GoogleCloudPlatform/appengine-python-standard/blob/main/setup.py#L28)
user-agents = "~=2.0"
webob = "~=1.0"

[dev-packages]
coverage = "*"
coverage-badge = "*"

[requires]
python_version = "3.12"

[scripts]
coverage = "./do_coverage.sh"
