[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "==2022.1"
tzlocal = "==4.2"
googleapis-common-protos = {version = "==1.56.0", extras = ["grpc"]}
requests = "==2.27.1"
Jinja2 = "==3.1.1"
WebOb = "==1.8.7"
#viur-core = {editable = true, path = "./.."}

[dev-packages]
coverage = "*"
coverage-badge = "*"

[requires]
python_version = "3.9"

[scripts]
coverage = "./do_coverage.sh"
