appengine-python-standard~=1.0
googleapis-common-protos[grpc]~=1.0
jinja2~=3.0
jsonschema~=4.0
pillow~=10.0
pyotp~=2.0
pytz~=2023.0
pyyaml~=6.0
qrcode~=7.0
requests~=2.0
setuptools~=70.0
tzlocal~=5.0
urllib3==1.26.18
user-agents~=2.0
webob~=1.0
