<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
## set userid=getCurrentUser()
## set skey=getSecurityKey()

##if not Forms
	## set Forms=False
##endif
## from "autoJS.macro" import alljs

## if not modulConfig
## set modulConfig = execRequest("ops/config")
## endif

##macro generateMenu( config )
	##for modul,data in config.items()
<div class="menuleft">
    <a href="/ops/{{data.defaultaction}}">
        <img src="/resources/ops/{{data.icon}}" alt="Modulicon" />
        <span class="menuleft_name">{{data.name}}</span>
    </a>
    <div class="menuleftactions">
        <ul>
					{% if data.handler == "list" or data.handler == "base" %}
            <li>
                <a href="/ops/{{modul}}/list"><img src="/resources/ops/icons/actions/list.png" /><span class="action_name">Liste</span></a>
            </li>
            <li>
                <a href="/ops/{{modul}}/add"><img src="/resources/ops/icons/actions/add_icon.png" /><span class="action_name">Hinzufügen</span></a>
            </li>
					{% endif %}
					##for action in data.actions
            <li>
                <a href="/ops/{{action.action}}"><img src="/resources/ops/images/icons/action/{{action.icon}}.svg" /><span class="action_name">{{action.name}}</span></a>
            </li>
					##endfor
        </ul>
    </div>
</div><!-- menuleft -->
	##endfor
##endmacro

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="robots" content="all,follow" />
        <meta name="description" content="Description" />
        <meta name="keywords" content="Keywords" />

        <link rel="stylesheet" media="screen,projection" type="text/css" href="/resources/ops/css/style.css" />
        <!--[if IE 7]>
			<link rel="stylesheet" href="/resources/ops/css/ops-ie7.css">
		<![endif]-->
        <link rel="shortcut icon" href="/resources/ops/icons/ViURadmin.ico" type="image/x-icon" />
        <link type="text/css" href="/resources/ops/css/jqueryui/jquery-ui.min.css" rel="stylesheet" />

				{{alljs(Forms)}}

        <script type="text/javascript" language="JavaScript" src="/resources/ops/js/app.js"></script>
        <script type="text/javascript" language="JavaScript" src="/resources/js/json_sans_eval.js"></script>

		##block additionalheader

		##endblock

        <title>ViUR-OPS &mdash; {{activemoduldescr}}</title>
    </head>

    <body>
        ##if userid
        ##block body
        <div class="wrapper">
            <div class="wrapper_header vdark">
                <div class="header">

                    <h1 class="logo" title="ViUR Operation Center"><span class="viur">ViUR</span>OPS</h1><!--logo -->
                    ##if not activemoduldescr
                    <div class="centername"> <span style="color:#cc0000">ViUR </span>Operation Center</div><!--centername -->
                    ##else
                    <h2 class="centername">{{activemoduldescr}}</h2><!--centername -->
                    ##endif

        	##block iconnav
                    <ul class="iconnav">
				##block iconnav_opanel
                        <li class="iconmenu"><a  href="/ops"><i class="icon-th" title="Operation Panel"></i></a></li>
				##endblock
				##block iconnav_files
                        <li class="iconmenu"><a  href="#"><i class="icon-folder" title="Dateien"></i></a></li>
				##endblock
				##block iconnav_user	
                        <li class="iconmenu"><a  href="#"><i class="icon-users" title="Nutzer"></i></a></li>
				##endblock	
				##block iconnav_controls
                        <li class="iconmenu"><a  href="#"><i class="icon-cog" title="Einstellungen"></i></a></li>
				##endblock	
				##block iconnav_logout
                        <li class="iconmenu logout"><a  href="/ops/user/logout?skey={{skey}}">&nbsp;<em class="icon-logout" title="Logout">Ausloggen</em></a></li>
				##endblock
                    </ul><!--iconnav -->
			##endblock
                </div><!--header -->
            </div><!--wrapper_header -->
			##block main

            <div class="clear"></div>

            <div class="content">

                <div class="left">
                    ##block menu
                    {{generateMenu( modulConfig )}}
                    ##endblock
                </div><!--left -->

                <div class="right">
                    ##block Content
                    Contentright
                    ##endblock
                </div><!--right -->

                <div class="clear"></div>

            </div><!--content -->
				##endblock

            <div class="footer">
                ##block statusmessage
                ##endblock
            </div><!--Footer -->

        </div> <!-- /wrapper -->
		##endblock

        {# loginscreen for #}
        ##else

        <div class="wrapper">
            <div class="wrapper_header">
                <div class="header">

                    <h1 class="logo" title="ViUR Operation Center"><span class="viur">ViUR</span>OPS</h1><!--logo -->

                    <div class="centername"> <span style="color:#cc0000">ViUR </span>Operation Center</div><!--centername -->

                    <ul class="iconnav">
                        <li class="iconmenu inactive"><a  href="#"><i class="icon-th" title="Operation Panel"></i></a></li>
                        <li class="iconmenu inactive"><a  href="#"><i class="icon-folder" title="Dateien"></i></a></li>
                        <li class="iconmenu inactive"><a  href="#"><i class="icon-users" title="Nutzer"></i></a></li>
                        <li class="iconmenu inactive"><a  href="#"><i class="icon-cog" title="Einstellungen"></i></a></li>
                    </ul><!--iconnav --><!--iconnav -->

                </div><!--header -->
            </div><!--wrapper_header -->

            <div class="clear"></div>

            <div class="login shadowdark">

                <div class="loghead"><strong>Login</strong></div>

		##block loginimage
                <img src="/static/images/loginimage.png" alt="Loginimage" width="340" />
		##endblock

			##block message

			##endblock

			##if customuserauth
                <p style="font-size:1.4em; line-height:1.4em; margin-top:20px;">Bitte melden Sie sich jetzt mit<br />
			Ihrem Google Account an.</p>


                <p style="font-size:1.1em; line-height:1.8em; margin-top:25px;">
                    <label for="Email">E-Mail-Adresse</label><br />
                    <input  type="text" spellcheck="false" name="Email" id="Email" value="" style="width:100%;" />

                    <br />
                </p>
			##else

                <p style="font-size:1.4em; line-height:1.4em; margin-top:20px;">
		Dieses Projekt nutzt eine Authentifizierung über die zentrale Google-Apps-Steuerung.<br /><br />
                </p>


                <a class="btn-auth btn-google large" href="/ops/user/login">
					 über <b>Google</b> einloggen                </a>
			##endif


            </div><!-- login -->


        </div> <!-- /wrapper -->
        ##endif

        <div id="dialog-yesno" title="A Question..."></div>

    </body>
</html>
