##set operation='list'

##extends "ops/default_modul_view.html"

##block content

	{% set colums = ["name","creationdate"] %}
<table class="ui-widget ui-widget-content ops-list-table" style=" width: 100%;">
    <thead>
        <tr class="ui-widget-header ops-list-thead-tr">
				{% for col in colums %}
            <td>{{ _(col) }}</td>
				{% endfor %}
            <td style=" text-align: right;">
					{{_("Actions")}}
            </td>

        </tr>

    </thead>
		{% for item in skellist %}
    <tr>
				{% for col in colums %}
        <td>{{ item[ col ] }}</td>
				{% endfor %}
        <td class="operation">
            <a href="{{modulPath()}}/edit/{{item.id}}"><img src="/resources/ops/icons/actions/edit.svg" alt="edit" title="{{_('edit')}}"/></a>
            <a href="javascript:void(0)" onclick="askyesno('{{_("do you really want to delete:")}} {{item.name}} ?','{{modulPath()}}/delete/{{item.id}}?skey={{skey}}','#')"><img src="/resources/ops/icons/actions/delete.svg" alt="delete" title="{{_('delete')}}"/></a>
            <a target="_Blank" href="/{{modulPath()|replace('/ops/','')}}/view/{{item.id}}"><img src="/resources/ops/icons/actions/preview.svg" alt="preview" title="{{_('preview')}}" /></a>
        </td>
    </tr>
		{% endfor %}
</table>

        <br />

<form action="{{modulPath()}}/list" method="get">
	{{_('search')}}: <input type="text" name="search"
                            ##if requestParams().search
									value="{{requestParams().search}}"
								##endif
								/> <input type="submit" value="{{_('search')}}" />
</form>

##endblock
