##macro generatepanels (panels)
	##for modul,data in panels.items()
<div class="panel">

    <a
        ##if data.defaultaction
			href="/ops/{{data.defaultaction}}"
			##else
			href="/ops/{{modul}}/list"
			##endif
			>
        <img src="/resources/ops/{{data.icon}}" alt="Modulicon" />
        <span class="panel_name">{{data.name}}</span>
    </a>
</div><!-- panel -->

##endfor
##endmacro


##extends "ops/basic.html"

## if not modulConfig
## set modulConfig = execRequest("ops/config")
## endif

##if not custompanelarray
	## set custompanelarray = modulConfig
##endif


##block main
<div class="content">
						##block custompanels
							{{generatepanels(custompanelarray)}}
						##endblock


						##block defaultpanels
							##if defaultpanelarray
								{{generatepanels(defaultpanelarray)}}
							##endif
    ##endblock

</div><!--content -->


##endblock
