<input
		class="input ignt-input ignt-input--password ignt-ignt--{{ boneName }}
			{{ "is-required" if boneParams.required }}
			{{ "is-readonly" if boneParams.readOnly }}
			{{ "is-invalid" if boneErrors else "is-valid" }}"
		name="{{ boneName }}"
		type="password"
		title="{{ boneParams.tooltip or boneParams.descr or boneName }}"
		id="ignt-id-{{ boneName }}"
		value="{{ boneValue|default("", true) }}"
		{{ "required" if boneParams.required }}
		{{ "readonly" if boneParams.readOnly }}
		{% if boneErrors %} aria-invalid="true" {% endif %}
>
