{% if not boneParams.multiple %}
    {# Single #}
    <div class="vi-file input-group input-group-file {% if not boneParams.readOnly %}js-viur-bones-file_uploadableinput-group{% endif %} {% if not boneValue %}is-empty{% endif %}"
         data-name="{{ boneName }}"
         data-multiple="0">
        <div class="vi-file-bone-preview-img"
             {% if boneValue and boneValue.servingurl %}style="background-image: url({{ boneValue.servingurl }}=s150)"{% endif %}>
        </div>
        <span class="input{% if boneParams.readOnly %} is-readonly{% endif %}">{% if boneValue %}
            {{ boneValue.name }}{% endif %}</span>
        {% if not boneParams.readOnly %}
            <button class="btn icon edit js-viur-bones-file-upload-file-button" type="button" data-name="{{ boneName }}">
                Upload
            </button>
            <button class="btn icon cancel btn--danger js-viur-bones-file-remove-file" type="button">Entfernen</button>
            <span class="uploader" style="width: 300px; height: 50px;"></span>
        {% endif %}
        <input type="hidden" name="{{ boneName }}.0.key" value="{% if boneValue %}{{ boneValue.key }}{% endif %}">

    </div>
{% else %}
    {# Multiple #}
    <div class="vi-bone-editor can-upload" id="">
        <div class="vi-selection js-viur-bones-file-reordable-area" data-name="{{ boneName }}">
            {% if boneValue %}
                {% for value in boneValue %}
                    <div class="vi-file input-group input-group-file js-viur-bones-file-reordable-item" data-multiple="1"
                         {% if not boneParams.readOnly %}draggable="true"{% endif %}>
                        <div class="vi-file-multi-bone-preview-img"
                             {% if value.servingurl %}style="background-image: url({{ value.servingurl }}=s150)"{% endif %}>
                        </div>
                        <span class="input {% if boneParams.readOnly %}is-readonly{% endif %}">{{ value.name }}</span>
                        {% if not boneParams.readOnly %}
                            <button class="btn icon edit is-disabled js-viur-bones-file-upload-file-button" type="button">
                                Bearbeiten
                            </button>
                            <button class="btn icon cancel btn--danger is-disabled js-viur-bones-file-remove-file"
                                    type="button">Entfernen
                            </button>
                            <span class="uploader" style="width: 300px; height: 50px;"></span>
                        {% endif %}
                        <input type="hidden" name="{{ boneName }}.{{ loop.index0 }}.key" value="{{ value.key }}">
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% if not boneParams.readOnly %}
            <button class="btn icon edit js-viur-bones-file-add-files" type="button">
            Hinzufügen
        {% endif %}
        </button>

    </div>
{% endif %}
<style>
    .vi-file-multi-bone-preview-img,
	.vi-file-bone-preview-img {
        width: 100px;
        height: 100px;
        display: block;
    }

    .reodableAreaInsertAfter {
        margin-bottom: 40px;
    }

    .reodableAreaInsertBefore {
        margin-top: 40px;
    }

    .reodableAreaItemIsDragged {
        opacity: 0.2;
    }

    .js-viur-bones-file-reordable-area {
        padding-bottom: 20px;
        padding-top: 20px;
        border: 1px solid red;
    }

    .js-viur-bones-file-reordable-item {
        border: 1px solid green;
    }
</style>

