{# Single #}
<div class="vi-file inputGroup">
    <div class="vi-fileBone-previewImg"
         style="background-image: url(https://lh3.googleusercontent.com/TQFr6JDH1tKAHO0fl80hFTCYwooKAuxdxe0wb6kYVadC3vvwQACAVy63p4y47VzEb86vNfKwp7pjBgm-MnwwkxLX=s150)">
    </div>
    <span class="input is-readonly">Dusch-Bodenelement, Sondermaß 1000-1600 mm_1.jpg</span>
    <button class="btn icon edit is-disabled" type="button">Bearbeiten</button>
    <button class="btn icon cancel btn-vDanger is-disabled" type="button">Entfernen</button>
</div>

{# Multiple #}
<div class="vi-boneEditor can-upload" id="vi_0_db_produkt_edit_Allgemein_bn_images">
    <div class="vi-selection">
        <div class="vi-file inputGroup">
            <div class="vi-fileMultiBone-previewImg"
                 style="background-image: url(https://lh3.ggpht.com/_DxEjeyW0oiWYfHUg7g6GIJei67Vqd8B_y-kXOV9tdcTOig-6ON3WLRIGSud51hMp3Crq2BprU9XXi3I4xNiLSCM=s150)">
            </div>
            <span class="input is-readonly">Dusch-Bodenelement, Sondermaß 1000-1600 mm_1.jpg</span>
            <button class="btn icon edit is-disabled" type="button">Bearbeiten</button>
            <button class="btn icon cancel btn-vDanger is-disabled" type="button">Entfernen</button>
        </div>
    </div>
</div>