<div id="vi_0_db_produkt_edit_Details_bn_{{ boneName }}" class="vi-boneEditor inputGroup">
    <div class="radio">
        <input id="vi_selection_item{{ boneName }}_0" class="radio-input" type="radio"
               name="{{ boneName }}" value="False" {% if not boneValue %}
               checked="checked"{% endif %}>
        <label for="vi_selection_item{{ boneName }}_0" class="radio-label">Nein</label>
    </div>
    <div class="radio">
        <input id="vi_selection_item{{ boneName }}_1" class="radio-input" type="radio"
               name="{{ boneName }}" value="True" {% if boneValue %}
               checked="checked"{% endif %}>
        <label for="vi_selection_item{{ boneName }}_1" class="radio-label">Ja</label>
    </div>
</div>