<div class="vi-boneEditor">
    {% set readOnly = "" %}
    {% if boneParams.readOnly %}
        {% set readOnly = 'readonly="readonly"' %}
    {% endif %}
    {% if boneParams.multiple and boneParams.languages %}
        -- Nicht implementiert --
    {% elif not boneParams.multiple and boneParams.languages %}
        {% if not boneParams.visible %}
            {% for lang in boneParams.languages %}
                <input {{ readonly }} type="hidden" name="{{ boneName }}.{{ lang }}"
                                      value="{{ boneValue.get(lang,"") }}"/>
            {% endfor %}
        {% else %}
            <div class="vi-boneTranslator" id="vi_0_db_produkt_edit_Allgemein_bn_name">
            <div class="vi-boneEditor">
                <input class="input" type="text">
                <input class="input" type="text" style="display: none;">
                <input class="input" type="text" style="display: none;">
                <input class="input" type="text" style="display: none;">
                <input class="input" type="text" style="display: none;">
                <input class="input" type="text" style="display: none;">
                <input class="input" type="text" style="display: none;">
                <input class="input" type="text" style="display: none;">
                <input class="input" type="text" style="display: none;">
            </div>
            <select class="select" name="{{ boneName }}_language_selector" id="vi_0_db_produkt_edit_Allgemein_bn_kauftenauch">
                {% for lang in boneParams.languages %}
                    <option value="{{ lang }}">{{ lang }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
    {% elif boneParams.multiple and not boneParams.languages %}
        -- Nicht implementiert --
    {% else %}

        {% if not boneParams.visible %}
            <input {{ readonly }} type="hidden" name="{{ boneName }}" value="{{ boneValue or "" }}"/>
        {% else %}
            <input class="input" type="text" name="{{ boneName }}" value="{{ boneValue or "" }}" {{ readonly }}>
        {% endif %}
    {% endif %}


    {# <input class="input" type="text" name="{{ boneName }}" value="{{ boneValue or "" }}">
    <input class="input" type="text" style="display: none;">
    <input class="input" type="text" style="display: none;">
    <input class="input" type="text" style="display: none;">
    <input class="input" type="text" style="display: none;">
    <input class="input" type="text" style="display: none;">
    <input class="input" type="text" style="display: none;">
    <input class="input" type="text" style="display: none;">
    <input class="input" type="text" style="display: none;"> #}
</div>