[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "==6.2.1"
sphinx-autoapi = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"

[dev-packages]
doc8 = "*"

[requires]
python_version = "3.11"
